.advantages {
  //padding-top: 20px;
  //padding-bottom: 20px;
  //background-color: $brand-color;
  //border-radius: 20px;

}

.advantages__list {
  @include list;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  padding: 20px 20px 40px 0;
  background-color: $brand-color;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    padding: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    align-items: stretch;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 100px;
  }
}

.advantages__item {
  padding: 22px 0 0 20px;
  position: relative;

   @media (min-width: $tablet-width) {
     min-height: 100%;
     max-width: 273px;
   }

   @media (min-width: $desktop-width) {
    max-width: 504px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 42px;
    height: 42px;
    background-image: url("/__spritemap#sprite-star-view");
    background-size: 18px 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $brand-color;
    top: 0;
    left: 0;
  }



}

.advantages__item-content {
  border: solid 1px $border-light;
  border-radius: 16px;
  padding: 15px 20px;

  @media (min-width: $tablet-width) {
    display: block;
    min-height: 100%;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 30px 40px;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
}

.advantages__item-content h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 15px;
  color: $fonts-color-extra-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  @media (min-width: $desktop-width) {
    min-width: 171px;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.26px;
    margin-bottom: 0;
  }
}

.advantages__item-content p {
  font-weight: 300;
  margin: 0;
  color: $fonts-color-light;

  @media (min-width: $desktop-width) {
    line-height: 20px;
  }
}
