$font-manrope: "Manrope", "Arial", sans-serif;

$background-baze: #f0efe9;
$background-extra-light: #ffffff;

$brand-color: #316dc2;

$fonts-color-baze: #484848;
$fonts-color-light: #f0efe9;
$fonts-color-extra-light: #ffffff;

$border-light: #f0efe9;
$border-extra-light: #ffffff;

$tablet-width: 768px;
$desktop-width: 1440px;
